<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="EngriskIsFun.Properties.Settings.EngriskIsFunConnectionString"
            connectionString="Data Source=PC7308;Initial Catalog=EngriskIsFun;Persist Security Info=True;User ID=sa;Password=thanglong"
            providerName="System.Data.SqlClient" />
        <add name="EngriskIsFun.Properties.Settings.EngriskIsFunConnectionString1"
            connectionString="Data Source=DESKTOP-0CJHRSP\SQLEXPRESS;Initial Catalog=EngriskIsFun;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>